<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<style>
    .close{
        color:#fff;
        position:absolute;
        top:1.9rem;
        left: 2.2rem;
        font-size:2.8rem;
    }
</style>

<body>

    <div class="wrapper">
     <form method="post" action="{% url 'login' %}">
         {% csrf_token %}
         <a href="{% url 'index' %}"><i class="bx bx-x close"></i></a>
      <h1>Sign In</h1>
     {% if form.errors %}
        <i class='bx bx-error' style="display:flex; font-size:30px; color:#fff; justify-content:center; padding:10px;"></i>
        <p style="color:white; display:flex; justify-content:center;text-align:center;">Username and password did not match!<br/>Please try again later </p>
     {% endif %}
      <div class="input-box">
          {{form.username}}
       <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
          {{form.password}}
       <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="remember-forgot">
       <label><input type="checkbox">Remember me</label>
       <a href="{% url 'password_reset' %}">Forgot password?</a>
      </div>
       <button type="submit" class="btn">Confirm</button>
       <input type="hidden" name="next" value="{{ next }}" />
      <div class="register-link">
       <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      </div>
     </form>
    </div>
</body>