<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'><link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

<div class="wrapper">
<form action="" method="post">{% csrf_token %}
 <h1>Password reset</h1>
 {% if form.email.errors %} {{ form.email.errors }} {% endif %}
 <p style="margin-top:10px; text-align:center;">Enter your email</p>
 <div class="input-box">{{ form.email }} <i class='bx bx-envelope'></i></div>
 <button type="submit" class="btn" value="password_reset">Reset</button>
</form>
</div>

</body>
