{% extends 'base.html' %}

{% block content %}

<style>
    .container{
        width:100%;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        background-size:cover;
        background-position: center;
    }
    .about-us{
        width:100%;
        padding: 78px 0px;
        background-color:#1e1e2a;
    }
    .about .img{
        height:420px;
        width:420px;
    }
    .about-text{
        width:550px;
    }
    .main-about{
        width:1130px;
        max-width:95%;
        margin: 0 auto;
        display:flex;
        align-items:center;
        justify-content:space-around;
    }
    .about-text h1{
        color:white;
        font-size:80px;
        text-transform:capitalize;
        margin-bottom:20px;
    }
    .about-text p{
        color:#fcfc;
        letter-spacing:1px;
        line-height:28px;
        font-size:18px;
        margin-bottom:45px;
    }
    button{
        background:#fff;
        color:#000000;
        text-decoration:none;
        border: 2px solid transparent;
        padding: 13px 30px;
        border-radius:40px;
        transition: .4s;
    }
    button:hover{
        scale: 1.05;
    }

    button:active{
        scale: 0.95;
    }
</style>

    <div class="container">
        <section class="about-us">
            <div class="main-about">
                <img src="../../static/images/logotip.jpg" alt="" style="height:420px;
        width:420px; border-radius:50%;">
                <div class="about-text">
                    <h1 class="lang" key="about">About us</h1>
                    <p class="lang" key="about_p">This is simple Web Store created using Django, Python, HTML, CSS, JavaScript. It's open 24 ours a day. Here you can buy any digital equipment.</p>
                    <a href="{% url 'products' %}"><button type="button" class="lang" key="btn_move">Let's move on to the catalog!</button></a>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}