{% extends 'base.html' %}

{% block content %}

<style>
    .container{
        width:100%;
        height:100vh;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .location{
        display: flex;
        margin:auto;
        justify-content: center;
        align-items: center;
    }
    .about-text{
        width:auto;
    }
    .about-text h1{
        color:white;
        font-size:80px;
        text-transform:capitalize;
        margin-bottom:20px;
        margin-top:50px;
    }
    .about-text p{
        color:#fcfc;
        letter-spacing:1px;
        line-height:28px;
        font-size:18px;
        margin-bottom:45px;
    }
    .main-about{
        width:390px;
        height:auto;
    }
</style>

    <div class="container">
        <section class="about-us">
            <div class="main-about">
                <div class="about-text">
                    <h1 class="lang" key="about">About us</h1>
                    <p class="lang" key="about_p">This is simple Web Store created using Django, Python, HTML, CSS, JavaScript. It's open 24 ours a day. Here you can buy any digital equipment.</p>
                    <p class="lang" key="">You can find our store here!</p>
                    <div class="location">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9cb3beb78b6bb9de3181d7a81630232634811876a2ee116b893e16e24e4aca83&amp;width=380&amp;height=400&amp;lang=ru_RU&amp;scroll=true;"></script>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}