{% extends 'base.html' %}

{% block content %}

    <style>
.container{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-size:cover;
    background-position: center;
}

.profile-box{
    background-color:#1e1e2a;
    border:2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align:center;
    padding: 40px 90px;
    color:black;
    position:relative;
    border-radius:15px;
}

.profile-box h3{
    color:#fff;
}

.profile-box h5{
    font-size: 16px;
    color:#000000;
}

.profile-box button{
    background:#fff;
    color:black;
    border:none;
    outline:none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 15px 60px;
    cursor:pointer;
    border-radius:40px;
    margin-bottom:-50px;
}

.profile-box .action_btn:hover{
    scale: 1.05;
}

.profile-box .action_btn:active{
    scale: 0.95;
}

.social-media i{
    color:#fff;
    font-size:30px;
    cursor:pointer;
}

.close{
    position:absolute;
    color:#fff;
    top:0.35rem;
    right: 0.2rem;
    font-size:3rem;
}

.settings{
    position:absolute;
    color:#fff;
    top:1rem;
    left: 0.8rem;
    font-size:2rem;
}

.profile-pic{
    width:150px;
    border-radius:50%;
    padding:6px;
    margin-top:40px;
}

.profile-bottom{
    background:#eee;
    color:black;
    padding:60px 0;
    margin-left:-90px;
    margin-right:-90px;
    margin-bottom:-40px;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    margin-top:-10px;
    text-align:center;
}
    </style>
{% if user.is_authenticated %}
    <div class="container">
        <div class="profile-box">
            <img src="../static/images/avatar.jpg" alt="" class="profile-pic">
            <a href="{% url 'settings' %}"><i class='bx bxs-cog settings'></i></a>
            <a href="{% url 'index' %}"><i class="bx bx-x close"></i></a>
            <h3>{{user.get_username}}</h3>
            <div class="social-media">
                <a href="#"><i class="icon-telegram"></i></a>
                <a href="#"><i class="icon-vkontakte"></i></a>
                <a href="#"><i class="icon-github-circled"></i></a>
            </div>
            <button class="action_btn">Follow</button>
            <div class="profile-bottom">
                <h5>Name: {{user.first_name}}</h5>
                <h5>Surname: {{user.last_name}}</h5>
                <h5>Your email: {{user.email}}</h5>
            </div>
        </div>
    </div>
{% else %}
<div class="container">
    <div class="profile-box">
        <img src="../static/images/avatar.jpg" alt="" class="profile-pic">
        <a href="{% url 'index' %}"><i class="bx bx-x close"></i></a>
        <h3>User</h3>
        <a href="{% url 'login'%}?next={{request.path}}"><button class="action_btn">Sign in</button></a>
        <div class="profile-bottom">
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

