{% extends 'base.html' %}

{% block content %}

<style>
    section#hero{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
        color:#fff;
    }
</style>

<main>
    <section id="hero">
        {% if user.is_authenticated %}
        <h1>Welcome, {{user.get_username}}</h1>
        <p>This is the main page of my Web Store</p>
        <a href="{% url 'products' %}"><button type="button" class="btn" style="display:flex; margin:auto;
                    margin-top: 10px; margin-bottom:10px; border-radius:40px; background-color:white;">Show available products</button></a>
        {% else %}
        <h1>Welcome, user</h1>
        <p>This is simple Digital Equipment web-store <br/> made with Django, Python, HTML, CSS & JS<br/>Sign in to see more!</p>
        {% endif %}
    </section>
</main>

<section class="about" id="about" style="background-color: #1e1e2a;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color-white mb-5">About store</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-apple"></i></div>
                <h5 class="text-center">Large Assortment</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-globe"></i></div>
                <h5 class="text-center">Worldwide Shipping</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-rocket"></i></div>
                <h5 class="text-center">Fast Delivery</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-credit-card"></i></div>
                <h5 class="text-center">All Payment Methods</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-dollar"></i></div>
                <h5 class="text-center">Low Prices</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-star-empty"></i></div>
                <h5 class="text-center">High Reliability</h5>
                <div class="line line-light bg-light"></div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}