{% extends 'base.html' %}

{% block content %}

<style>
    section#hero{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
        color:#fff;
    }
    #hero h1{
        display:flex;
        margin:auto;
        align-items:center;
        justify-content:center;
        font-size: 4rem;
        font-weight:bold;
        margin-bottom:1rem;
        margin-top:230px;
    }
    #hero .searchbar{
        margin-top:30px;
    }
    .input-box{
        position:relative;
        width:250px;
        height:50px;
        margin:30px 0;
    }
    .input-box input{
        width:100%;
        height:100%;
        background:transparent;
        border:none;
        outline:none;
        border:2px solid rgba(255, 255, 255, .2);
        border-radius:40px;
        font-size:16px;
        color:#fff;
        padding:20px 45px 20px 20px;
    }
    .input-box button{
        position:absolute;
        right:20px;
        top:50%;
        transform: translateY(-50%);
        font-size:20px;
        cursor:pointer;
        background:#1e1e2a;
        color:#fff;
        border:none;
    }
</style>

<main>
    <section id="hero">
        {% if user.is_authenticated %}
        <div class="searchbar">
        <form action="{% url 'search' %}" method="get" class="d-flex" role="search">
            <div class="input-box">
            <input type="text" name="query" placeholder="Input..." aria-label="Search">
            <button class="bx bx-search-alt" type="submit"></button>
            </div>
        </form>
        </div>
        <h1 class="lang" key="welcome">Welcome, {{user.get_username}}!</h1>
        <p class="lang" key="auth_welcome">This is the main page of my Web-Store</p>
        <a href="{% url 'products' %}"><button type="button" class="btn lang" key="show" style="display:flex; margin:auto;
                    margin-top: 10px; margin-bottom:10px; border-radius:40px; background-color:white;">Show available products</button></a>
        {% else %}
        <h1 class="lang" key="welcome">Welcome!</h1>
        <p class="lang" key="unauth_welcome">This is the main page of my Web-Store <br/>Sign in to see more!</p>
        {% endif %}
    </section>
</main>

<section class="about" id="about" style="background-color: #1e1e2a;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color-white mb-5 lang" key="ab_st">About store</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-apple"></i></div>
                <h5 class="text-center lang" key="l_a">Large Assortment</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-globe"></i></div>
                <h5 class="text-center lang" key="w_s">Worldwide Shipping</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-rocket"></i></div>
                <h5 class="text-center lang" key="f_d">Fast Delivery</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-credit-card"></i></div>
                <h5 class="text-center lang" key="a_pm">All Payment Methods</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-dollar"></i></div>
                <h5 class="text-center lang" key="l_p">Low Prices</h5>
                <div class="line line-light bg-light"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-star-empty"></i></div>
                <h5 class="text-center lang" key="h_r">High Reliability</h5>
                <div class="line line-light bg-light"></div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}